<div class="container mt-4">
  <h3 class="text-danger">Todos los Expedientes</h3>

  <div *ngIf="loading" class="alert alert-info">Cargando expedientes...</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <div *ngFor="let e of expedientes" class="card mb-3">
    <div class="card-body">
      <h5>{{ e.nombrePaciente }}</h5>
      <p><b>N° Identificación:</b> {{ e.numeroIdentificacion }}</p>
      <p><b>Fecha Nacimiento:</b> {{ e.fechaNacimiento }}</p>

      <h6>Alergias:</h6>
      <ul>
        <li *ngFor="let a of e.alergias">{{ a.nombre }} - {{ a.descripcion }}</li>
      </ul>

      <h6>Enfermedades:</h6>
      <ul>
        <li *ngFor="let enf of e.enfermedades">{{ enf.nombre }} - {{ enf.descripcion }}</li>
      </ul>

      <h6>Citas:</h6>
      <ul>
        <li *ngFor="let c of e.citas">{{ c.fecha }} {{ c.hora }} - {{ c.motivo }} ({{ c.estado }})</li>
      </ul>
    </div>
  </div>
</div>
