<div class="container mt-4">
  <h2 class="text-primary">Área del Paciente</h2>
  <p>Bienvenido. Desde aquí podrás gestionar tus citas, recetas y expediente.</p>

  <a routerLink="citas" class="btn btn-outline-primary me-2">Ver mis Citas</a>
  <a routerLink="nueva-cita" class="btn btn-success me-2">Nueva Cita</a>
  <a routerLink="expediente" class="btn btn-warning me-2">Mi Expediente</a>
  <a routerLink="recetas" class="btn btn-info">Mis Recetas</a>
  <a routerLink="/perfil" class="btn btn-outline-dark">Perfil</a>

  <router-outlet></router-outlet>
</div>
