<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg border-0 rounded-4 p-4" style="width: 380px;">
    <div class="text-center mb-4">
      <img src="https://cdn-icons-png.flaticon.com/512/2966/2966488.png" width="60" alt="logo-clinica"/>
      <h3 class="mt-2 text-primary fw-bold">Clínica Salud</h3>
      <p class="text-muted">Accede a tu cuenta</p>
    </div>

    <!-- 🔑 Angular Forms necesita #loginForm -->
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div class="mb-3">
        <label class="form-label fw-semibold">Correo</label>
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          class="form-control border-primary"
          placeholder="ejemplo@correo.com"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label fw-semibold">Contraseña</label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          class="form-control border-primary"
          placeholder="••••••••"
          required
        />
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger text-center">
        {{ errorMessage }}
      </div>

      <button type="submit" class="btn btn-primary w-100 fw-semibold">
        Iniciar Sesión
      </button>
    </form>
  </div>
</div>
