<div class="container mt-4 col-md-6">
  <h3 class="mb-3 text-primary">➕ Nueva Cita</h3>

  <div class="mb-3">
    <label class="form-label">Especialidad</label>
    <select class="form-select" [(ngModel)]="especialidadSeleccionada" name="especialidad"
            (change)="onEspecialidadChange()">
      <option [ngValue]="''">Seleccione una especialidad</option>
      <option *ngFor="let esp of especialidades" [ngValue]="esp">{{ esp }}</option>
    </select>
  </div>

  <div class="mb-3" *ngIf="medicos.length > 0">
    <label class="form-label">Médico</label>
    <select class="form-select" [(ngModel)]="cita.medicoId" name="medicoId" (change)="onFechaChange()">
      <option [ngValue]="null">Seleccione un médico</option>
      <option *ngFor="let m of medicos" [ngValue]="m.id">
        {{ m.nombre }} {{ m.apellido }} - Tarifa: S/. {{ m.tarifaConsulta }}
      </option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Fecha</label>
    <input type="date" class="form-control" [(ngModel)]="cita.fecha" name="fecha" (change)="onFechaChange()">
  </div>

  <div class="mb-3" *ngIf="horarios.length > 0">
    <label class="form-label">Horario</label>
    <select class="form-select" [(ngModel)]="cita.hora" name="hora">
      <option [ngValue]="''">Seleccione un horario</option>
      <option *ngFor="let h of horarios" [ngValue]="h">{{ h }}</option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Motivo</label>
    <input type="text" class="form-control" [(ngModel)]="cita.motivo" name="motivo">
  </div>

  <button class="btn btn-primary w-100" (click)="guardarCita()">Guardar Cita</button>
</div>
