<div class="container mt-5" *ngIf="expediente">
  <div class="card shadow-lg border-0 rounded-4">
    <div
      class="card-header text-white rounded-top-4"
      style="background: linear-gradient(90deg, #3cb6f9, #6fd3f5);"
    >
      <h4 class="mb-0">📑 Detalle de Expediente</h4>
    </div>

    <div class="card-body p-4 bg-light">
      <h5>Paciente: {{ expediente.paciente?.nombre }}</h5>
      <p><strong>Edad:</strong> {{ expediente.paciente?.edad }}</p>
      <p><strong>Alergias:</strong> {{ alergiasTexto }}</p>
      <p><strong>Enfermedades:</strong> {{ enfermedadesTexto }}</p>


      <hr />
      <h5>Historial Clínico</h5>
      <ul>
        <li *ngFor="let entrada of expediente.entradas">
          📅 {{ entrada.fecha }} - {{ entrada.diagnostico }} (Tratamiento: {{ entrada.tratamiento }})
        </li>
      </ul>
    </div>
  </div>
</div>
