<div class="container mt-4">
  <h2 class="text-danger">Área del Administrador</h2>
  <p>Bienvenido. Desde aquí podrás gestionar todo el sistema.</p>

  <a routerLink="dashboard" class="btn btn-outline-danger me-2">Dashboard</a>
  <a routerLink="medicos" class="btn btn-outline-primary me-2">Médicos</a>
  <a routerLink="pacientes" class="btn btn-outline-success me-2">Pacientes</a>
  <a routerLink="medicamentos" class="btn btn-outline-warning me-2">Medicamentos</a>
  <a routerLink="usuarios" class="btn btn-outline-dark me-2">Usuarios</a>
  <a routerLink="citas" class="btn btn-outline-info me-2">Todas las Citas</a>
  <a routerLink="expedientes" class="btn btn-outline-secondary me-2">Todos los Expedientes</a>
  <a routerLink="recetas" class="btn btn-outline-success me-2">Todas las Recetas</a>
  <a routerLink="alergias" class="btn btn-outline-primary me-2">Alergias</a>
  <a routerLink="enfermedades" class="btn btn-outline-primary">Enfermedades</a>
    <a routerLink="/perfil" class="btn btn-outline-dark">Perfil</a>


  <router-outlet></router-outlet>
</div>
